@model Book
@{
    Layout = "_Layout";
}

<h3>Buch hinzufügen</h3>
@Html.ValidationSummary()
<form asp-area="Librarian" asp-controller="Books" asp-action="Create" method="post">
    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class="form-control" }})
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class="form-control" }})
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.InternationalStandardBookNumber)
        @Html.EditorFor(model => model.InternationalStandardBookNumber, new { htmlAttributes = new { @class="form-control" }})
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Publisher)
        @Html.DropDownListFor(model => model.PublisherId, null, new { @class="form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Language)
        @Html.DropDownListFor(model => model.LanguageId, null, new { @class="form-control" })
    </div>
    <button class="btn btn-primary" type="submit">Hinzufügen</button>
</form>
