@model IEnumerable<IUser>
@{
    Layout = "_Layout";
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().FullName)</th>
        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Gender)</th>
        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Birthsday)</th>
        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().PhoneNumber)</th>
        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().MobilePhoneNumber)</th>
        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().StudentId)</th>
        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Student.SchoolClass.Name)</th>
        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Student.SchoolClass.School.Name)</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FullName</td>
            <td>@user.Gender</td>
            <td>@user.Birthsday.ToString(Constants.DateFormat)</td>
            <td>@user.PhoneNumber</td>
            <td>@user.MobilePhoneNumber</td>
            <td>@user.StudentId</td>
            <td>@user.Student?.SchoolClass?.Name</td>
            <td>@user.Student?.SchoolClass?.School?.Name</td>
        </tr>
    }
</table>