@model Athene.Inventory.Abstractions.Models.Book

<div class="panel panel-default panel-body">
    <label asp-for="Id"></label>
    @Model.Id<br/>
    <label asp-for="Title"></label>
    @Model.Title<br/>
    <label asp-for="Description"></label>
    <p>
        @Model.Description
    </p>
    <a class="btn btn-primary" asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a>
    <a class="btn btn-primary" asp-controller="Inventory" asp-action="ShowInventoryItems" asp-route-id="@Model.Id">@Localizer["Show owned copies"]</a>
    <a class="btn btn-primary" asp-controller="Books" asp-action="AddToStore" asp-route-articleId="@Model.Id">@Localizer["Add to inventory"]</a>
</div>
