@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="navbar navbar-default ath-navbar-top navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Athene</a>
        </div>
        <div class="navbar-collapse collapse">
            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Librarian") || User.IsInRole("Administrator"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <label class="glyphicon glyphicon-wrench"></label>
                                @Localizer["Manage"] <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                            @if (User.IsInRole("Librarian"))
                            {
                                <li><a asp-area="Librarian" asp-controller="Books" asp-action="Index">@Localizer["Manage books"]</a></li>
                                <li><a asp-area="Librarian" asp-controller="Users" asp-action="Index">@Localizer["Manage users"]</a></li>
                                <li><a asp-area="Librarian" asp-controller="Publisher" asp-action="Index">@Localizer["Manage publishers"]</a></li>
                                <li><a asp-area="Librarian" asp-controller="Authors" asp-action="Index">@Localizer["Manage authors"]</a></li>
                                <li><a asp-area="Librarian" asp-controller="Categories" asp-action="Index">@Localizer["Manage categories"]</a></li>
                            }
                            @if (User.IsInRole("Administrator"))
                            {
                                <li class="dropdown-header">@Localizer["Administrator"]</li>
                                <li><a asp-area="Admin" asp-controller="DataImport" asp-action="Index">@Localizer["Import data"]</a></li>
                            }
                            </ul>
                        </li>
                    }
                </ul>
            }
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</div>