@model BookItem

<div class="row ath-bookitem">
    <div class="col-md-6">
        @Html.Hidden("bookItemIds", Model.Id)
        @Model.Book.Title<br />
        @Model.Book.SubTitle<br />
        <label asp-for="Book.InternationalStandardBookNumber"></label>
        @Model.Book.InternationalStandardBookNumber
    </div>
    <div class="col-md-6">
        <button type="button" class="close" data-dismiss="ath-bookitem" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span class="glyphicon glyphicon-barcode"></span>
        <!--<label asp-for="Id"></label>-->
        @Html.DisplayFor(model => model.Id)<br />
        <label asp-for="StockLocation"></label>
        @Model.StockLocation.OneLiner
    </div>
</div>
